.container {
	display: flex;
	width: 100vw;
	padding: 20px;
	justify-content: center;
	height: 7em;
	overflow-y: scroll;
	scrollbar-width: none;
}

.container:hover .list .def {
	display: list-item;
}

.list {
	margin: 5px;
	width: 50%;
	background: inherit;
	border: none;
}

.def {
	font-style: italic;
}

.def:hover {
	background: rgba(var(--card-rgb), 0.1);
}

.def:nth-child(n + 3) {
	display: none;
}

.def:nth-child(n + 3):hover {
	display: block;
}

.load {
	margin: 5px;
	text-align: center;
	line-height: normal;
}

.link {
	text-decoration: underline;
}

.undecored {
	list-style-type: none;
}

.unfound {
	margin: 5px;
	text-align: center;
	line-height: normal;
}
