.center {
	display: grid;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 4rem 0;
}

.center p {
	text-align: center;
	margin: 5px;
}

.familiar {
	color: var(--word-primary);
}

.unfamiliar {
	color: var(--word-secondary);
}

/* Mobile */
@media (max-width: 700px) {
	.center {
		padding: 8rem 0 6rem;
	}
}
