.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;
}

.button {
	padding: 1rem 1.2rem;
	border-radius: var(--border-radius);
	background: rgba(var(--card-rgb), 0);
	border: 1px solid rgba(var(--card-border-rgb), 0.5);
	transition: background 200ms, border 200ms;
	cursor: pointer;
	font: inherit;
	text-align: initial;
}
